@import entities.book.Book
@import entities.author.Author
@import entities.category.Category
@import entities.account.AccountType

@(book: Book, authorList: List[Author], categoryList: List[Category])

@main(book.getName + " - Bookstore") {
    @header(book.getName, "by " + {
        val a = authorList.find(a => a.getId == book.getAuthorId).get;
        a.getName + ' ' + a.getSurname
    })
    @*RIGHT PANEL*@
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <h2>Categories</h2>
            <ul class="nav nav-pills nav-stacked">
            @for(c <- categoryList) {
                <li role="presentation"><a href="@routes.Application.catalog(-1, c.getId)">@c.getName</a></li>
            }
            </ul>
            <h2>Authors</h2>
            @if(session().get("accountType") == AccountType.ADMIN.toString) {
                <a class="btn btn-success" href="@routes.CategoryController.categories">Edit categories</a>
            }
            <ul class="nav nav-pills nav-stacked">
            @for(a <- authorList) {
                <li role="presentation"><a href="@routes.Application.catalog(a.getId, -1)">@{
                    a.getName + " " + a.getSurname
                }</a>
                </li>
            }
            </ul>
            @if(session().get("accountType") == AccountType.ADMIN.toString) {
                <a class="btn btn-success" href="@routes.AuthorController.authors">Edit authors</a>
            }
        </div>

        @*BOOK*@
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="@routes.Assets.at(book.getImageURL)" alt="Book">
            </div>
            <div class="media-body">
                <h1 class="media-heading">@book.getName</h1>
                <h3 class="media-heading">Author: @{
                    val a = authorList.find(a => a.getId == book.getAuthorId)
                    if(a.isDefined) {
                        a.get.getName + ' ' + a.get.getSurname
                    } else "Unknown author"
                }</h3>
                <h3 class="media-heading">
                    Category: @{
                    val c = categoryList.find(c => c.getId == book.getCategoryId)
                    if(c.isDefined) c.get.getName else "Unknown category"
                }</h3>
                <h3 class="media-heading">Pages: @book.getPageCount</h3>
                <h3 class="media-heading">Price: @book.getPrice $</h3>
                @if(session().get("accountType") == null || session().get("accountType") == AccountType.CUSTOMER.toString) {
                    <a class="btn btn-success" href="@routes.CartController.add(book.getId)">Add to chart</a>
                }
                <div class="media-bottom">
                    <h5>@book.getDescription</h5>
                </div>
            </div>
        </div>
    </div>
}