@import entities.book.Book
@import entities.category.Category
@import entities.author.Author
@import entities.account.AccountType

@(books: List[Book], categories: List[Category], categoryId: Int, authors: List[Author], authorId: Int, currentPage: Int, pageCount: Int)

@if(session().get("accountType") == AccountType.ADMIN.toString) {
    <a class="btn btn-success" href="@routes.BookController.create">Create</a>
}
@*BOOKS*@
<div class="media">
    @for(b <- books) {
        <div class="media-left">
            <img class="media-object" src="@routes.Assets.at(b.getImageURL)" alt="Book">
        </div>
        <div class="media-body">
            <h3 class="media-heading">@{
                val a = authors.find(a => a.getId == b.getAuthorId)
                b.getName + " - " + {
                    if(a.isDefined) a.get.getName + ' ' + a.get.getSurname else "Unknown Author"
                }
            }</h3>
            <p>
                <a class="label label-primary" href="@routes.BookController.get(b.getId)">learn more</a>
                @if(session().get("accountType") == AccountType.CUSTOMER.toString) {
                    <a class="label label-success" href="@routes.CartController.add(b.getId)">add to cart</a>
                }
            </p>
            <p>@{
                val descr = b.getDescription
                if(descr.length > 50) descr.substring(0, 50) + "..." else descr
            }</p>
            <p>
            @if(session().get("accountType") == AccountType.ADMIN.toString) {
                <a class="btn btn-primary" href="@routes.BookController.edit(b.getId)">Edit</a>
                <a class="btn btn-danger" href="@routes.BookController.delete(b.getId)">Delete</a>
            }
            </p>
        </div>
        <br>
        <br>
    }
    @*PAGINATION*@
    <ul class="pagination">
        @if(currentPage > 1) {
            <li>
                <a href="@routes.Application.catalog(authorId, categoryId, currentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @for(p <- 1 to pageCount) {
            <li class="@{
                if(p == currentPage) "active"
            }"><a href="@routes.Application.catalog(authorId, categoryId, p)"> @p @if(p == currentPage) {
                <span class="sr-only">(current)</span>
            }</a>
            </li>
        }
        @if(currentPage < pageCount) {
            <li>
                <a href="@routes.Application.catalog(authorId, categoryId, currentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</div>