@import entities.account.Account
@import entities.order.BookOrder

@(orders: List[BookOrder], accounts: List[Account])

@main("Orders - Bookstore") {
    <table>
        <tr>
            <td>Id</td>
            <td>User</td>
            <td>Date</td>
            <td>Status</td>
            <td>More</td>
        </tr>
        @for(o <- orders) {
            <tr>
                <td><a href="@routes.OrderController.edit(o.getId)">Id</a></td>
                <td>@{
                    val a = accounts.find(a => a.getEmail == o.getAccountId)
                    if(a.isDefined) a.get.getEmail else "Unknown user"
                }</td>
                <td>@o.getDate</td>
                <td>@o.getStatus</td>
            </tr>
        }
    </table>
}