@import entities.order.Order
@import entities.account.Account

@(orders: List[Order], accounts: List[Account])

@main("Orders - Bookstore") {
    <table>
        <tr>
            <td>User</td>
            <td>Date</td>
            <td>Status</td>
            <td>More</td>
        </tr>
        @for(o <- orders) {
            <td>@{
                val a = accounts.find(a => a.getEmail == o.getAccountId)
                if(a.isDefined) a.get.getEmail else "Unknown user"
            }</td>
            <td>@o.getDate</td>
            <td>@o.getStatus</td>
            <td><a href=""</td>
        }
    </table>
}