@()

@main("About - Bookstore") {
    @header("Bookstore", "A place where books live")
    <div class="conwhite">
        <h4>Who we are?</h4>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed lorem diam. Etiam laoreet vitae dui et vehicula. In hac habitasse platea dictumst. Fusce imperdiet mauris vel arcu maximus, nec venenatis purus faucibus. Morbi consectetur dui id quam aliquam, sit amet auctor lacus consectetur. In commodo ipsum nec porta rutrum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum placerat quam tempor nibh facilisis scelerisque eget in purus. Fusce in risus sodales, pulvinar turpis vel, sagittis augue. Nullam convallis lacinia ligula ut maximus. Sed rutrum nunc sodales, mollis odio sit amet, fringilla erat. Nunc non congue nunc, at elementum metus. Nam in nunc congue, accumsan tortor non, blandit enim. Morbi quis elementum neque. Phasellus vulputate pulvinar urna at vehicula. </p>
    </div>

    <div class="concyan">
        <h4>What we do?</h4>
        <p>Donec pellentesque justo sollicitudin ipsum euismod scelerisque. In hac habitasse platea dictumst. Vivamus augue sapien, volutpat in nibh vel, pulvinar ultrices purus. Morbi aliquam posuere dolor, ac pharetra magna vulputate eget. Sed leo nibh, interdum aliquet risus id, hendrerit posuere nibh. Donec eget ex sem. Cras eu porta dui. Duis congue et magna ut interdum. In semper molestie erat, quis congue nisi facilisis et. Aenean finibus lacus in sagittis rhoncus. Integer semper id urna ac vulputate. Cras dolor augue, bibendum nec euismod et, ultricies id mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p>
    </div>

    <div class="conwhite">
        <h4>Contact</h4>
        <p><img src="@routes.Assets.at("images/about/map.png")">Cras vel enim nec mi fringilla cursus vitae at erat. Proin porttitor aliquet arcu vel ullamcorper. Quisque commodo, dui et varius egestas, augue urna auctor elit, eget dignissim nisl tellus vel sem. Aliquam sed pharetra dolor. Donec sed vulputate est. Etiam in massa sit amet quam dignissim dapibus sed a nibh. Donec in turpis id ex imperdiet posuere a gravida mi. </p>
    </div>
}