@import entities.book.Book
@import entities.author.Author

@(sliderBooks: List[Book], authros: List[Author])

@main("Main - Bookstore") {
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
        @for(i <- sliderBooks.indices) {
            <div class="item@if(i == 0){ active}">
                @*<img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">*@
            <div class="container">
                <div class="carousel-caption">
                    <h1>@sliderBooks(i).getName - @{
                        val a = authros.find(a => a.getId == sliderBooks(i).getAuthorId).get
                        a.getName + ' ' + a.getSurname
                    }
                    </h1>
                    <p>@sliderBooks(i).getDescription</p>
                    <p><a class="btn btn-lg btn-primary" href="@routes.BookController.get(sliderBooks(i).getId)" role="button">Learn more</a></p>
                </div>
            </div>
            </div>
        }
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
}
