@import entities.account.AccountType
@()

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bookstore</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@routes.Application.index">Home</a></li>
                <li><a href="@routes.Application.catalog()">Catalog</a></li>
                <li><a href="@routes.Application.help">Help</a></li>
                @if(session.containsKey("email") && session.get("accountType") == AccountType.ADMIN.toString) {
                    <li><a href="@routes.Application.orders">Orders</a></li>
                    <li><a href="@routes.Application.accounts">Users</a></li>
                }
                @if(session.containsKey("email") && session.get("accountType") == AccountType.CUSTOMER.toString) {
                <li><a href="@routes.CartController.display(1)">Cart</a></li>
                }
                <li><a href="@routes.Application.about">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if(!session.containsKey("email")) {
                    <li><a href="@routes.Application.logIn">Log in</a></li>
                    <li><a href="@routes.Application.signUp">Sign up</a></li>
                } else {
                    <li><a href="@routes.Application.account">Account</a></li>
                    <li><a href="@routes.AccountController.logOut">Log out</a></li>
                }
            </ul>
        </div>
    </div>
</nav>