@()

@main("Sign Up - Bookstore") {
<div class="row">
	<div class="col-md-4 col-md-offset-4">
      <form class="form-group">
        <h2 class="text-center">Sign Up</h2>
        <br>
        <label for="inputName" class="sr-only">Name</label>
        <input type="email" id="inputName" class="form-control" placeholder="Your name" required autofocus>
        <br>

        <label for="inputSurname" class="sr-only">Surname</label>
        <input type="email" id="inputSurname" class="form-control" placeholder="Your surname" required>
        <br>

        <label for="inputEmail" class="sr-only">Your email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Your email" required>
        <br>

        <label for="inputLogin" class="sr-only">Enter login</label>
        <input type="login" id="inputLogin" class="form-control" placeholder="Enter login" required>
        <br>

        <label for="inputPassword" class="sr-only">Enter password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Enter password" required>
        <br>

        <label for="repeatPassword" class="sr-only">Repeat password</label>
        <input type="password" id="repeatPassword" class="form-control" placeholder="Repeat password" required>
        <br>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        
      </form>
  </div>
</div>
}