@(form: play.data.Form[AccountController.SignupForm])

@main("Sign Up - Bookstore") {
    @header("Create an account")
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
        @helper.form(action = helper.CSRF(routes.AccountController.register)) {
            <form class="form-group">

                <h2 class="text-center">Sign Up</h2>
                <br>

                @if(form.hasGlobalErrors) {
                    <p class="error">
                    @form.getGlobalError.get.message
                    </p>
                }

                <label for="inputName" class="sr-only">Your name</label>
                <input type="text" name="name" id="inputName" class="form-control" placeholder="Your name" required autofocus>
                <br>

                <label for="inputSurname" class="sr-only">Your surname</label>
                <input type="text" name="surname" id="inputSurname" class="form-control" placeholder="Your surname" required>
                <br>

                <label for="inputEmail" class="sr-only">Your email</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Your email" required>
                <br>

                <label for="inputPassword" class="sr-only">Enter password</label>
                <input type="password" name="firstPassword" id="inputPassword" class="form-control" placeholder="Enter password" required>
                <br>

                <label for="repeatPassword" class="sr-only">Repeat password</label>
                <input type="password" name="secondPassword" id="repeatPassword" class="form-control" placeholder="Repeat password" required>
                <br>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>

            </form>
        }
        </div>
    </div>
}